@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html body {
    -webkit-tap-highlight-color: transparent;
    background: white;
  }

  p:not(:last-child) {
    margin-bottom: 1em;
  }

  .details-popover > summary {
    list-style: none;
  }

  .details-popover > summary::marker,
  .details-popover > summary::-webkit-details-marker {
    display: none;
  }


  /* summary::after {
		position: relative;
    display: inline-block;
		content: " ►";
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		height: max-content;
	}

	details[open] summary:after {
		content: " ▼";
	} */


  video {
    object-fit: contain;
    object-position: right top;
  }
}

@layer components {
  .link {
    @apply decoration-1 focus:outline-none focus-visible:underline;
  }
}
